<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Flashcard</title>
        <link rel="stylesheet" href="{% static 'FlashApp/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>Create FlashCard</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">SAVE</button>
            </form>
        </div>
    </body>
</html>